env
venv
virtualenv
config.yaml
test.py
pycache
__pycache__
DS_Store
pytest_cache
Pyrebase4
config_key.py
firebase_testing/download.bin
firebase_testing/upload.bin
user_creation_test.py
node_modules
upload
download